<div class="social-share">
  <span style='font-weight: bold; font-size:20px'>Share</span>
  <br/>
      <a href="https://twitter.com/intent/tweet?text=Check%20out%20https://hakanozbay.github.io/{{ page.url }}"   class="twitter" title="Share on Twitter" style="text-decoration:none;padding:5px;" target="_blank">
          <i class="fa fa-twitter-square fa-2x"></i>
      </a>
      <a href="https://www.facebook.com/sharer/sharer.php?u=https://hakanozbay.github.io/{{ page.url }}" class="facebook" title="Share on Facebook" style="text-decoration:none;padding:5px;" target="_blank">
        <i class="fa fa-facebook-square fa-2x"></i>
      </a>
      <a href="https://plus.google.com/share?url=https://hakanozbay.github.io/{{ page.url }}" class="google-plus" title="Share on Google Plus" style="text-decoration:none;padding:5px;" target="_blank">
        <i class="fa fa-google-plus-square fa-2x"></i>
      </a>
      <a href="whatsapp://send?text=https://hakanozbay.github.io/{{ page.url }}" class="whatsapp" title="Share on Whatsapp" style="text-decoration:none;padding:5px;" target="_blank">
        <i class="fa fa-whatsapp fa-2x"></i>
      </a>
</div>